<div class="table">
    <div class="table__item">
        <h6 class="table__item__label">IP ADDRESS</h6>
        <h3 class="table__item__value">{{ locationStats.ipAddress}}</h3>
    </div>
    <div class="table__separator"></div>

    <div class="table__item">
        <h6 class="table__item__label">LOCATION</h6>
        <h3 class="table__item__value">{{ locationStats.location}}</h3>
    </div>
    <div class="table__separator"></div>

    <div class="table__item">
        <h6 class="table__item__label">TIMEZONE</h6>
        <h3 class="table__item__value">{{ locationStats.timezone}}</h3>
    </div>
    <div class="table__separator"></div>

    <div class="table__item">
        <h6 class="table__item__label">ISP</h6>
        <h3 class="table__item__value">{{ locationStats.isp}}</h3>
    </div>

</div>
