<div class="table">
    <div class="table__item">
        <h6 class="table__item__label">IP ADDRESS</h6>
        <h3 class="table__item__value">223.36.1.15</h3>
    </div>
    <div class="table__separator"></div>

    <div class="table__item">
        <h6 class="table__item__label">LOCATION</h6>
        <h3 class="table__item__value">Brooklyn, NY 10001</h3>
    </div>
    <div class="table__separator"></div>

    <div class="table__item">
        <h6 class="table__item__label">TIMEZONE</h6>
        <h3 class="table__item__value">UTC -05:00</h3>
    </div>
    <div class="table__separator"></div>

    <div class="table__item">
        <h6 class="table__item__label">ISP</h6>
        <h3 class="table__item__value">SpaceX Starlink</h3>
    </div>
    <div class="table__separator"></div>

</div>
